@model IEnumerable<RealEstates.Core.Entities.Offer>

@{
	ViewBag.Title = "Moje oferty";
}

<h2>Moje oferty</h2>

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<th>
			Lokalizacja
		</th>
		<th>
			Licza pokoi
		</th>
		<th>
			Cena
		</th>
		<th>
			Opis
		</th>
		<th>
			Zdięcie
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Location)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumberOfRooms)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@{
					var image = item.Photos.FirstOrDefault();
					var src = string.IsNullOrEmpty(@image.PhotoData) ? "../Content/housestamp.png" : "data:image/jpeg;base64," + @image.PhotoData;
				}
				<img src='@src' style="max-width:100px; max-height:100px;" />
			</td>
			<td>
				@Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
				@Html.ActionLink("Usuń", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
